@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

/* 
========================================
Grid Layout
========================================
*/

main {
  display: grid;
  grid-template-areas:
    "left-side right-side";
  grid-template-rows: 1fr;
  grid-template-columns: 300px 2fr;
  gap: 0px;
  margin: 0;
}

.left {
  grid-area: left-side;
  display: grid;
  grid-template-areas:
    "avatar"
    "summary"
    "skills"
    "english";
  grid-template-columns: 1fr;
  gap: 0px;
  height: 100%;
  align-content: start;
}

.left img {
  grid-area: avatar;
}

.summary {
  grid-area: summary;
}

.skills {
  grid-area: skills;
}

.english {
  grid-area: english;
}

.right {
  grid-area: right-side;
  display: grid;
  grid-template-areas:
    "contacts"
    "education"
    "work"
    "code";
  grid-template-columns: 1fr;
  gap: 0px;
  height: 100%;
  align-content: start;
}

.contacts {
  grid-area: contacts;
}

.education {
  grid-area: education;
}

.work {
  grid-area: work;
}

.code {
  grid-area: code;
}

.contact-data {
  display: grid;
  grid-template-areas:
    "phone email"
    "telegram discord";
  grid-template-columns: 2fr;
  gap: 0 20px;
}

.phone-number {
  grid-area: phone;
}

.email-address {
  grid-area: email;
}

.telegram-link {
  grid-area: telegram;
}

.discord-name {
  grid-area: discord;
}

/* 
========================================
Base Styles
========================================
*/

body {
  max-width: 1024px;
  margin: 0 auto;
  background: #4545451a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
  padding: 0 50px;
  padding-bottom: 50px;
  background: #ffffff;
}


.left {
  padding: 70px 50px;
  background: #e0e1e5;
}

img.avatar {
  margin-left: -25px;
  margin-bottom: 100px;
}

.right {
  padding-left: 50px;
}

section {
  margin-bottom: 40px;
}

.contacts {
  background: #464646;
  padding: 60px 26px;
  margin-bottom: 40px;
}

.contact-data {
  margin-top: 60px;
  font-family: 'Khand', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.1em;
  padding: 0 20px;
}

.contact-data ul {
  display: flex;
  height: 86px;
  flex-flow: column wrap;
  justify-content: space-between;
}

.contact-data li {
  list-style: none;
}

.contact-data li a {
  display: flex;
  align-items: center;
}

.contact-data li a:hover {
  color: #ff9f1a;
}

.contact-data img {
  margin-right: 20px;
}

.phone-number {
  padding-right: 40px;
}

.contact-data div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

h1 {
  font-family: 'Khand', sans-serif;
  font-size: 50px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

h1::after {
  content: "";
  display: block;
  border-bottom: 4px solid #ffffff;
  width: 200px;
  margin: 40px auto;
}


h2 {
  font-family: 'Khand', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #464646;
}

h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid #464646;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #464646;
}

.summary p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.skills ul {
  list-style: none;
  line-height: 2rem;
  margin-bottom: 20px;
}

.skills img {
  float: right;
  margin-left: 5px;
  margin-top: 12px;
}

.english ul {
  list-style: none;
  line-height: 1rem;
}

.english li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.english ul li span {
  display: inline-block;
  padding: 4px 10px;
  color: #ffffff;
  background: #464646;
}

.education p,
.work p {
  margin-left: 20px;
  margin-bottom: 20px;
}

.education hr {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px dashed #b0b0b0;
}

.italic {
  font-style: italic;
}

p {
  margin-bottom: 20px;
}

p a,
p a:link,
p a:visited {
  color: #464646;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px dashed #464646;
}

p a:hover {
  color: #ff9f1a;
  border-bottom: 1px dashed#ff9f1a;
}

h3 a,
li a {
  text-decoration: none;
  color: #464646;
}

h3 a:hover,
.english li a:hover {
  color: #ff9f1a;
  border-bottom: 1px dashed#ff9f1a;
}

.contact-data a,
.contact-data a:link,
.contact-data a:visited {
  color: #ffffff;
  text-decoration: none;
}

.contact-data a:hover {
  color: #ffffff;
  text-decoration: none;
}

footer {
  background: #464646;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a,
footer a:link,
footer a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.github-icon {
  margin-right: 20px;
}

footer a:nth-of-type(2) img {
  margin-top: -10px;
}

footer time {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.year {
  overflow: hidden;
  text-align: center;
  width: 300px;
}

.year time {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.year::before,
.year::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 1px;
  background-color: #ffffff;
  position: relative;
}

.year::before {
  margin-left: -50%;
  left: -14px;
}

.year::after {
  margin-right: -50%;
  right: -14px;
}